<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="images/favicon.ico" type="image/x-icon">
    <meta name="description" content="{{description}}">
    <meta name="keywords" content="{{keywords}}">
    <meta name="author" content="{{author}}">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{{title}}</title>
    <!-- inject:css -->
    <!-- endinject -->
    <!-- build:sdk -->
    <!-- endbuild -->
</head>

<body>
    <div class="wrapper">
        <div id="map"></div>
    </div>
    <div class="popup">
        <div class="popup__header">
            <div class="popup__title"></div>
            <div class="popup__close">
                <svg class="close-svg" version="1.1" id="Capa_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
                    viewBox="0 0 611.979 611.979" 
                    xml:space="preserve">
                    <g>
                        <path d="M356.781,305.982L601.453,61.311c14.033-14.033,14.033-36.771,0-50.774c-14.004-14.033-36.741-14.033-50.774,0
                            L306.007,255.208L61.277,10.536c-14.004-14.033-36.771-14.033-50.774,0c-14.004,14.004-14.004,36.742,0,50.774l244.701,244.672
                            L10.503,550.684c-14.004,14.004-14.004,36.771,0,50.774c7.016,7.017,16.216,10.51,25.387,10.51c9.2,0,18.371-3.493,25.387-10.51
                            l244.701-244.701l244.671,244.701c7.017,7.017,16.217,10.51,25.388,10.51c9.199,0,18.399-3.493,25.387-10.51
                            c14.033-14.033,14.033-36.771,0-50.774L356.781,305.982z"/>
                    </g>
                </svg>
            </div>
        </div>
        <div class="popup__content">
            <ul class="reviews__list">
                <span class="not-reviews">Отзывов пока нет</span>
            </ul>
            <div class="popup__form">
                <div class="popup__form-title">ВАШ ОТЗЫВ</div>
                <input placeholder="Ваше имя" type="text" class="popup__input popup__input-name">
                <input placeholder="Укажите место" type="text" class="popup__input popup__input-place">
                <textarea placeholder="Поделитись впечатлениями" id="textarea"></textarea>
                <div class="row">
                    <button class="add-btn">Добавить</button>
                </div>
            </div>
        </div>
    </div>
    <!-- inject:js -->
    <!-- endinject -->
</body>

</html>
